<%- include("../views/partials/header", { titulo: "Agregar Superhéroe" }) %>
<%- include("../views/partials/messages") %>

<div class="container mt-5">
    <h3>🦸 Agregar Superhéroe</h3>
  
      <form action="/heroes/agregar" method="POST" class="card p-4 needs-validation">
        
          <input class="form-control mb-2" type="text" name="nombreSuperHeroe" placeholder="Nombre" required>
        
          <input class="form-control mb-2" type="text" name="nombreReal" placeholder="Nombre Real" required>
        
          <input class="form-control mb-2" type="number" name="edad" placeholder="Edad" required>
            
          <input class="form-control mb-2" type="text" name="planetaOrigen" placeholder="Planeta de Orígen" required>
        
          <input class="form-control mb-2" type="text" name="debilidad" placeholder="Debilidad" required>
                    
        <!--CONSULTAR PARA GUARDAR VARIOS ELEMENTOS EN EL ARRAY-->
         <input class="form-control mb-2" name="poderes[]" placeholder="Poderes" required>
        
          <input class="form-control mb-2" name="aliados[]" placeholder="Aliados" required>
      
          <input class="form-control mb-2" name="enemigos[]" placeholder="Enemigos" required>
        
          <input class="form-control mb-2" type="text" name="creator" placeholder="Creador" required>
      
        <div class="text-center mt-4">
          <button class="btn btn-success">Guardar</button>
          <a href="/heroes" class="btn btn-secondary">⬅ Volver</a>
        </div>
        
    </form>
</div>
  <%- include("../views/partials/footer") %>